*{margin:0;padding:0;font-family: "微软雅黑";}
ul{list-style:none;}
a{text-decoration:none;}
/*body{overflow: hidden;}*/
body{
	overflow-x:hidden;
}
/*banner*/
.banner{
	width:100%;
	height: 600px;
	position: relative;
	overflow: hidden;
}
.banner-img li{
	position:absolute;
	top:0;left:0;
	width:100%;
	height: 600px;
	opacity: 0;
	transition:opacity .3s;
}
.banner-img li.dex{
	opacity: 1;
}
.banner-img li a{
	display: block;
	width: 100%;
	height: 600px;
}
.bna1{background: url(../img/banner01.png)no-repeat center center;}
.bna2{background: url(../img/banner02.png)no-repeat center center;}
.bna3{background: url(../img/banner03.png)no-repeat center center;}
/*dug*/
.dug{
	position: absolute;
	bottom:40px;left: 50%;
}
.dug li{
	width:54px;
	height:4px;
	margin-left: 22px;
	background: #436918;
	float: left;
	cursor: pointer;
	transition: all .3s;
}
.dug li.active{
	background: #fff;
}
/*actual*/
.actual{
	margin-top:30px;
	width: 1200px;
	margin:0 auto;
}.actual ul{
	display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
	width:1200px;
}
.actual a{color: #000;}
.actual ul{
	height:1463px;
}
.actual ul li{
	width: 370px;
	height: 452px;
}
.act-img{
	width:370px;
	height: 312px;
	position: relative;
	overflow: hidden;
}
.act-img img{
	width:100%;
	height: 100%;
	transition:transform .3s;
}
.act-bor{
	width: 320px;
	height:268px;
	border:1px solid #fff;
	position: absolute;
	top:22px;left:25px;
	transform: scale(1.2);
	transition:transform .3s;
}
.act-int{
	width: 368px;
	height: 138px;
	border:1px solid #bbb;
	text-align: center;
	overflow: hidden;
}
.act-int h3{
	width:100%;
	font-size: 20px;
	font-weight: 500;
	padding:40px 0;
	transition: all .3s;
}
.act-int h3 span{
	display: block;
}
.act-int h3 span.small{
	font-size: 18px;
	line-height: 32px;
}
.act-int p{
	width:100%;
	height: 30px;
	line-height: 30px;
	background: #436918;
}
.actual ul li:hover{
	box-shadow: 1px 1px 20px #666;
}
.actual ul li:hover .act-bor{
	transform: scale(1);
}
.actual ul li:hover .act-img img{
	transform: scale(1.1);
}.actual ul li:hover h3{
	padding:25px 0;
}
/*look at more*/
.look-more{
	width: 228px;
	height: 44px;
	border:1px solid #436918;
	margin:10px auto;
}
.look-more a{
	display: block;
	width: 228px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 16px;
	color: #436918;
	transition:all .3s;
	position: relative;
	overflow: hidden;
}
.look-more:hover a{
	background: #436918;
	color: #fff;
}
.look-more:hover span.look-wz{
	margin-left: -12px;
}
.look-more:hover span.look-gd{
	right:60px;
	background:url(../img/seecase-r.png)no-repeat;
}
.look-more span.look-wz{
	transition: margin .3s;
}
.look-more a span.look-gd{
	position: absolute;
	top:15px;right:-24px;
	background:url(../img/r-arrow.png)no-repeat;
	display: block;
	width: 24px;
	height: 14px;
	transition: all .3s;
}