*{font-family:Microsoft YaHei;}
/*header*/
li{list-style: none;}
a{text-decoration: none;}
.hea{
	width: 100%;
	position: relative;
}
header{
	height: 120px;
	padding:0 110px;
	margin:0 auto;
}
.header-tel{
	width: 100%;
	height: 30px;
}
.header-tel p{
	float: right;
	margin-top:8px;
}
.header-tel p img{
	vertical-align: middle;
	margin-top:-5px;
}
.header-tel p span{
	font-size: 16px;
	color: #999;
}
.header-down{
	width:100%;
	height: 90px;
}
.slider{
	position: absolute;
	bottom:25px;
	display: block;
	width:32px;
	height: 3px;
	background:#436918;
	transition:all .5s;
}
.logo{
	width: 284px;
	height: 63px;
	float: left;
}
.logo img{
	width: 284px;
	height: 63px;
}

@media screen and (max-width: 1230px) {
	header{
		width: 1200px;
		padding:0;
	}
}
@media screen and (min-width: 1920px) {
	header{
		width: 1700px;
	}
}
.lev-nav{
	position: absolute;
	width: 500%;
	left: -2300px;top:0px;
	z-index: 9;
	height: 50px;
	background: #f5f5f5;
	overflow: hidden;
}
.lev-nav ul{
	float: right;
	padding-right: 110px;
	height: 50px;
}
.lev-nav ul li{
	float: left;
	margin-left: 34px;
	font-family: "Microsoft YaHei";
	line-height: 
}
.lev-nav ul li a{
	color: #333;
	font-size: 14px;
	color: #333;
	line-height: 50px;
}
.lev-nav ul li a{
	color: #436918;
}
.level{
	width: 100%;
	height: 50px;
	padding:80px 0;
}
.levp{
	position: fixed;
	top:0;left: 0;
	z-index: 999;
	background: #fff;
	box-shadow: 0px 1px 30px #999;
	padding:0;
}
.level ul{
	height: 50px;
	margin:0 auto;
	width: 1200px;
}
body .levp ul{
	margin-top: 0;
}
.levp ul{
	margin-top:15px;
}
.level ul li{
	width: 119px;
	height: 18px;
	border-left: 1px solid #777;
	float: left;
	margin-top:15px;
}
.level ul li a{
	display: block;
	font-size: 16px;
	color: #333;
	text-align: center;
}
.level ul li.bor{border:none;}
.level ul li a:hover{
	color:#436918;
}
.slider{
	position: absolute;
	bottom:25px;
	display: block;
	width:32px;
	height: 3px;
	background:#436918;
	transition:all .5s;
}
/*banner-left-right*/
.lf,.ri{
	position: absolute;
	top:50%;
	margin-top:-42px;
	width: 48px;
	height: 84px;
	display: none;
}
.lf{
	background:rgba(0,0,0,.3) url(../img/ri.png)no-repeat center center;
	left: 50px;
}
.ri{
	background:rgba(0,0,0,.3) url(../img/lf.png)no-repeat center center;
	right: 50px;
}
.infor{
	height: 90px;
	float: right;
	position: relative;
}
.wrap{height: 90px;}
.wrap ul{height: 90px;}
.wrap ul li{
	float: left;
	height: 90px;
	margin-left: 60px;
}
.wrap ul li:nth-child(1){
	margin-left:0;
}
.wrap ul li a{
	color: #000;
	font-size: 16px;
	line-height: 90px;
}
.wrap ul li:hover a{
	color: #436918;
	font-weight: 500;
}
#sub{
	position: absolute;
	width: 650px;
	height: 50px;
	top:90px;left: 0px;
	z-index: 1;
}
#sub ul{
	position: absolute;
	z-index: 99;
	height: 50px}
#sub ul li{
	height: 50px;
	float: left;
	margin-left: 30px;
}
#sub ul li a{
	line-height: 50px;
	color: #000;
}
.useless{
	display: none;
}
.none{
	display: none;
}
#b{
	position: absolute;
	left: -125px;
	width: 600px;
}
#c{
	width: 940px;
	position: absolute;
	right:0px;
}
#d{
	position: absolute;
	left: 175px;
}